certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
idna==2.10
numpy==1.19.2
Pillow==7.2.0
py-mhash==1.2
pycparser==2.20
pyparsing==2.4.7
pysha3==1.0.2
python-magic==0.4.18
requests==2.24.0
scipy==1.5.2
sdhash==0.0.4
six==1.15.0
ssdeep==3.4
termcolor==1.1.0
urllib3==1.25.10
