appdirs==1.4.3
cffi==1.8.3
enum34==1.1.6
future==0.16.0
numpy==1.12.1
olefile==0.44
packaging==16.8
pefile==2016.3.28
Pillow==4.1.1
py-mhash==1.2
pybloomfiltermmap==0.3.15
pycparser==2.14
PyCRC==1.21
pycrypto==2.6.1
pyparsing==2.2.0
pysha3==1.0.2
python-magic==0.4.12
requests==2.13.0
scipy==0.19.0
six==1.10.0
ssdeep==3.1.1
termcolor==1.1.0
